<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <description>used for pagging (product/list)</description>
        <param-name>pagesize</param-name>
        <param-value>2</param-value>
    </context-param>
    <filter>
        <filter-name>URLAcceptanceFilter</filter-name>
        <filter-class>util.intercep.world.URLAcceptanceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>URLRequiredAuthenticationFilter</filter-name>
        <filter-class>controller.auth.intercept.URLRequiredAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizedResourceCheckingFilter</filter-name>
        <filter-class>controller.resource.AuthorizedResourceCheckingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>URLAcceptanceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>URLRequiredAuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizedResourceCheckingFilter</filter-name>
        <url-pattern>/resource/detail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizedResourceCheckingFilter</filter-name>
        <url-pattern>/resource/edit</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizedResourceCheckingFilter</filter-name>
        <url-pattern>/resource/file</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>FileReaderController</servlet-name>
        <servlet-class>controller.file.FileReaderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageFileReaderController</servlet-name>
        <servlet-class>controller.file.ImageFileReaderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextFileReaderController</servlet-name>
        <servlet-class>controller.file.TextFileReaderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductController</servlet-name>
        <servlet-class>controller.product.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFeatureController</servlet-name>
        <servlet-class>controller.home.ListFeatureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCardController</servlet-name>
        <servlet-class>controller.order.ShoppingCardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderController</servlet-name>
        <servlet-class>controller.order.CreateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryOrderController</servlet-name>
        <servlet-class>controller.order.HistoryOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailOrderController</servlet-name>
        <servlet-class>controller.order.DetailOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewOrderController</servlet-name>
        <servlet-class>controller.order.ReviewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateResourceController</servlet-name>
        <servlet-class>controller.resource.CreateResourceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailResouceController</servlet-name>
        <servlet-class>controller.resource.DetailResouceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListResourceController</servlet-name>
        <servlet-class>controller.resource.ListResourceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditResourceController</servlet-name>
        <servlet-class>controller.resource.EditResourceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceFileReaderController</servlet-name>
        <servlet-class>controller.file.ResourceFileReaderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductController</servlet-name>
        <servlet-class>controller.product.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>controller.product.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductController</servlet-name>
        <servlet-class>controller.product.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageController</servlet-name>
        <servlet-class>controller.product.ManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailController</servlet-name>
        <servlet-class>controller.feedback.SendMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>controller.feedback.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.feedback.DetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileReaderController</servlet-name>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageFileReaderController</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextFileReaderController</servlet-name>
        <url-pattern>/text</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductController</servlet-name>
        <url-pattern>/product/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFeatureController</servlet-name>
        <url-pattern>/home/feature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCardController</servlet-name>
        <url-pattern>/order/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderController</servlet-name>
        <url-pattern>/order/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryOrderController</servlet-name>
        <url-pattern>/order/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailOrderController</servlet-name>
        <url-pattern>/order/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewOrderController</servlet-name>
        <url-pattern>/order/review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateResourceController</servlet-name>
        <url-pattern>/resource/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailResouceController</servlet-name>
        <url-pattern>/resource/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListResourceController</servlet-name>
        <url-pattern>/resource/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditResourceController</servlet-name>
        <url-pattern>/resource/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceFileReaderController</servlet-name>
        <url-pattern>/resource/file</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductController</servlet-name>
        <url-pattern>/product/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/product/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductController</servlet-name>
        <url-pattern>/product/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageController</servlet-name>
        <url-pattern>/product/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailController</servlet-name>
        <url-pattern>/feedback/send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/feedback/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/feedback/detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
